.dibba{
    padding-bottom: 8rem;
}
.container {
    max-width: 40.6rem;
    margin: 0 auto;
    margin-top: 9rem;
    z-index: -1;
    margin-bottom: 2.15rem;
    padding-bottom: 3rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width:14rem;
    height: 4rem;
    border-radius: 0.8rem;
    border: 2.56px solid var(--linear-1, #C018CE);
    background: var(--colors-black-max, #080808);
    margin: 0 auto;
    transition: all 0.5s ease;
    position: relative;
}

.button:hover {
    background: var(--colors-black-max, #080808);
    border-radius: 1rem;
    border: 2.56px solid var(--linear-1, #C018CE);
}

.text {
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    font-family: Verdana;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}